 
.ck.ck-editor { 
    margin: 30px 0 !important;
}
.ck-editor__editable[role="textbox"] {
   
    min-height: 200px;
}
.ck-content .image { 
    max-width: 80%;
    margin: 20px auto;
}
.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by a{
    display: none !important;
}
.add-article-btn{
    transition: .1s all ease-in; 
    width:100%;
    margin: 0 auto;
    margin-bottom:5rem;
    padding:1rem 3rem;
    display: block;
    border-radius: 5px;
    font-family: "iransans-regular"; 
    cursor: pointer; 
    color: #ffffff;
    background-color: #a62626;
}
.back-to-post-categories-btn * {
    color: #a62626;
}

.back-to-post-categories-btn {
    display: none;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;
}

.group input,.accordion input {
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.3rem;
    width: 300px;
    height: 39px;
    background: white;
}

.group label {
    color: black;
}

.group {
    gap: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.add-category-btn {
    transition: .1s all ease-in;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
    display: block;
    border-radius: 5px;
    font-family: "iransans-regular";
    cursor: pointer;
    color: #a62626;
    border: 1px solid #a62626;
}

.groups {
    display: flex;
    justify-content: space-between;
}
