@import url(/public/css/userPanel/share.css);

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.post {
  width: 47%;
  padding: 1.5rem;
  border: 1px solid rgb(0 0 0 / 11%);
  border-radius: 4px;
}

.post div div div p:nth-child(1) {
  margin-bottom: 8px;
}

.post div div div {
  font-size: 1.5rem;
}

.post div div {
  display: flex;
  flex-direction: column;
}

.post div {
  justify-content: space-between;
  display: flex;
}

.post img {
  width: 136px;
  border-radius: 4px;
  height: 136px;
}

.title {
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
}

.post button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.post button {
  border: 1px solid black;
  margin-top: 30px;
  width: 48%;
  display: flex;
  align-items: center;
  transition: 0.1s all ease-in;
  padding: 5px 0;
  justify-content: center;
  gap: 7px;
  color: black;
  border-radius: 4px;
  font-size: 1.4rem;
  flex-direction: row-reverse;
}
