@import url(../share.css);

/* !=======================================Main Style!======================================= */
.main {
  margin-top: 10rem;
  padding: 0 80px;
}

/* *====================Sidebar====================* */
.sidebar {
  position: fixed;
  right: 55px;
  top: 6rem;
  bottom: 0;
  overflow: auto;
  width: 18%;
  scrollbar-width: none;
  padding: 4rem 2rem 1rem 2rem;
}

.sidebar__user {
  display: flex;
  margin-top: 30px;
}

.sidebar__user-right {
  margin-left: 1rem;
}

.sidebar__user-icon {
  font-size: 1.8rem;
}

.sidebar__user-text {
  font-size: 1.4rem;
  color: #000;
  font-family: "iransans-bold";
}

.sidebar__user-phone {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.sidebar__menu-list {
  padding: 0 0 1.5rem 0;
}

.sidebar__menu-link {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 16px;
  color: #000;
}

.sidebar__menu-icon {
  margin-left: 1rem;
}

.sidebar__link-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #000;
  padding: 2.5rem 0;
}

.sidebar__link-icon {
  margin-left: 1rem;
}

.sidebar__links {
  margin: 2rem 0;
  width: 100%;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: auto auto auto;
}

.sidebar__link {
  padding: 0 1rem;
  line-height: 3rem;
  white-space: nowrap;
}

.sidebar__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.sidebar__social-link {
  font-size: 1.6rem;
  margin: 0 2rem;
}

.sidebar__logout {
  cursor: pointer;
}
/* *====================End Sidebar====================* */

.empty p {
  font-size: 1.5rem;
}

.empty {
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
}

.empty img {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.empty p {
  display: flex;
  gap: 5px;
}

#loading-container {
  top: 0 !important;
}
#loading {
  margin-top: 330px;
}

.pagination-items .active a {
  color: white;
}
.pagination-items .active {
  color: #ffffff;
  background-color: #a62626;
}

.pagination-items li a {
  color: #a62626;
  padding: 0 1rem;
  margin-top: 0.4rem;
  display: block;
}
.pagination-items li {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  color: #a62626;
  height: 30px;
  font-size: 1.5rem;
}

.pagination-items {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}
